body {
  font-family: Arial, Helvetica, sans-serif; 
  background-image: linear-gradient(to bottom right, rgb(218, 98, 0),black, #425a8f );
  background-repeat: url('https://giphy.com/gifs/cPlsuCWPznPZ98kV2J/html5');
  background-size: 600% 600%;
  height: 100vh;
  padding:0;
  margin:0;
  position: sticky;
  -webkit-animation: AnimationName 9s ease infinite;
  -moz-animation: AnimationName 9s ease infinite;
  animation: AnimationName 9s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 68%}
    50%{background-position:100% 33%}
    100%{background-position:0% 68%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 68%}
    50%{background-position:100% 33%}
    100%{background-position:0% 68%;}
}
@keyframes AnimationName {
    0%{background-position:0% 68%}
    50%{background-position:100% 33%}
    100%{background-position:0% 68%}
}

.Logo {
  text-align: center;
  object-position: center;
  margin-right: auto;
  margin-left: auto;
  color: white;
  height: auto;
  max-width: 300px;
  width: 50%;
  size: 100px;
  position: absolute;
  padding-top: 200px;
  padding-bottom: 10px;
  animation: header 1s;
  animation-timing-function: ease-in;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  0% {opacity: 0;}
  100% {opacity: 100;}
  0% {opacity: 0;}
}



.EmailMe {
  overflow: hidden;
  background-color: rgba(110, 179, 219, 0.295);
  max-width: 40px;
}

.EmailMe:hover {
  background-color: rgb(224, 240, 253);
}

/* Style the top navigation bar */
#navbar {
  background-color: rgba(51, 51, 51, 0.651);
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.5s;
  z-index: 4;
}

/* Style the navigation bar links */
#navbar a {
  float: left; 
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Right-aligned link */
#navbar a.right {
  float: right;
}

/* Change color on hover/mouse-over */
#navbar a:hover {
  background-color: rgba(255, 255, 255, 0.521);
  color: black; 
}

/* Ensure proper sizing */
* {
  box-sizing: border-box;
}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
  color:cyan;
  position: relative;
}

/* Create two unequal columns that sits next to each other */
.side {
  flex: 30%;
  background-color: #39445c49; 
  padding: 20px; 
  color: black;
  filter: invert(100%);
  position: relative;
}
.main {
  flex: 70%; 
  background-color: #8f7b4270; 
  padding: 20px;
  filter: invert(100%);
  position: relative;
}
.about {
  background-image: linear-gradient(rgba(57, 125, 214, 0.2) rgb(120, 110, 212));
  color:white;
  padding: 30px;
  }

.details {  
  color: white;
  font-size: 13px;
  background-color: rgba(255, 255, 255, 0.226);
  padding: 20px;
  border: rgb(255, 255, 255);
  border-radius: 10px;
}

.ClipMage{
  float: right;
  align-items: right;
  padding: 10px;
}
.footer {
  float: center; 
  display: block;
  background-color:  rgba(99, 148, 189, 0.288);
  color: white;
  text-align: center;
  padding: 13px 20px;
  padding-bottom: 10px;
  text-decoration: none;
}
.footer a {
  overflow: hidden; /* Hide overflow */
  background-color: rgba(99, 148, 189, 0); /* Dark background color */
  size: 30px;
}
.footer a:hover {
  background-color: rgba(125, 186, 255, 0.452);
  color:  rgb(99, 148, 189);
  padding: 20px 10px;
  padding-bottom: 10px;
  padding-top: 38px;
  padding-left: 15px;
  text-align: center;
}

.opening {
  background-image: linear-gradient(to left, rgba(26, 100, 204, 0.199), rgba(0, 0, 0, 0.219), rgba(221, 133, 17, 0.137));
  color: rgb(0, 0, 0);
  filter :invert(100%);
  position: relative;
}
  
[data-tooltip] {
  position: relative;
  cursor: default;
}
[data-tooltip]::after {
  position: absolute;
  width: 140px;
  left: calc(50% - 70%);
  bottom: 125%;
  box-sizing: border-box;

  content: attr(data-tooltip);
  color: #ffffff;
  background: black;
  padding: 8px;
  border-radius: 10px;
  font-size: 10px;
  font-weight: bold;

  visibility: hidden;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s, transform 0.2s;
}
[data-tooltip]:hover::after {
  opacity : 1;
  visibility: visible;
  transform: translateY(0);
}

#particles-js {
   height: 100%;
   position: relative;
}

.spotify {
  padding: 50px;
}

.ghostfriendv2 {
  padding-left: auto;
  padding-right: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: center;
  max-width: 200px 200px;
  text-align: center;
  position: relative;
}

.mainnn {
  flex: 70%; 
  background-color: #8f7b4270; 
  padding: 20px;
  filter: invert(100%);
  position: relative;
  font-family:monospace;
}